@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.buycoin {
  background-color: rgb(12, 34, 56);
  height: 100vh;
}
.buycoin-title {
  font-family: "Secular One", sans-serif;
  font-size: 3em;
  font-weight: 900;
  color: blanchedalmond;
  margin-top: 50px;
  margin-bottom: 30px;
}
.buy-button {
  height: 40px;
  background-color: darkblue;
  color: white;
  font-family: "Secular One", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
.coin-price-value,
.coin-price-caption,
.coin-amount-caption,
.coin-amount-value {
  height: 40px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
}
