@media screen and (max-width: 630px) {
  .room-auctions {
    width: 330px;
  }
}
@media screen and (min-width: 630px) and (max-width: 960px) {
  .room-auctions {
    width: 660px;
  }
}
@media screen and (min-width: 960px) {
  .room-auctions {
    width: 990px;
  }
}

.room-auctions {
  display: flex;
  min-height: 400px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.room-auctions-row-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
